-- AlterTable
ALTER TABLE `aisearchindexedproduct` ADD COLUMN `contentHash` VARCHAR(64) NULL,
    ADD COLUMN `embeddingModel` VARCHAR(64) NULL,
    ADD COLUMN `embeddingVersion` INTEGER NOT NULL DEFAULT 1,
    ADD COLUMN `excludedReason` VARCHAR(64) NULL,
    ADD COLUMN `isIndexed` BOOLEAN NOT NULL DEFAULT false,
    ADD COLUMN `isSearchable` BOOLEAN NOT NULL DEFAULT false,
    ADD COLUMN `lastEmbeddedAt` DATETIME(3) NULL,
    ADD COLUMN `lastSyncedAt` DATETIME(3) NULL;

-- AlterTable
ALTER TABLE `aisearchshop` ADD COLUMN `currentPlanHandle` VARCHAR(191) NULL,
    ADD COLUMN `currentSubscriptionGid` VARCHAR(191) NULL,
    ADD COLUMN `frozenAt` DATETIME(3) NULL,
    ADD COLUMN `installCount` INTEGER NOT NULL DEFAULT 1,
    ADD COLUMN `pendingChangeAt` DATETIME(3) NULL,
    ADD COLUMN `pendingPlanHandle` VARCHAR(191) NULL,
    ADD COLUMN `pendingSubscriptionGid` VARCHAR(191) NULL,
    ADD COLUMN `reinstalledAt` DATETIME(3) NULL;

-- CreateTable
CREATE TABLE `plans` (
    `id` VARCHAR(191) NOT NULL,
    `handle` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `visibility` ENUM('PUBLIC', 'PRIVATE', 'INTERNAL') NOT NULL DEFAULT 'PUBLIC',
    `billingMode` ENUM('SHOPIFY_APP_PRICING', 'MANUAL_BILLING') NOT NULL DEFAULT 'SHOPIFY_APP_PRICING',
    `interval` ENUM('EVERY_30_DAYS', 'ANNUAL') NOT NULL DEFAULT 'EVERY_30_DAYS',
    `price` DECIMAL(10, 2) NOT NULL,
    `currencyCode` VARCHAR(10) NOT NULL DEFAULT 'USD',
    `trialDays` INTEGER NOT NULL DEFAULT 0,
    `maxIndexedProducts` INTEGER NULL,
    `maxMonthlySearches` INTEGER NULL,
    `maxMonthlyVectorUpdates` INTEGER NULL,
    `usageBillingEnabled` BOOLEAN NOT NULL DEFAULT false,
    `featureFlags` JSON NULL,
    `shopifyPlanHandle` VARCHAR(191) NULL,
    `version` INTEGER NOT NULL DEFAULT 1,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `sortOrder` INTEGER NOT NULL DEFAULT 0,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `plans_handle_key`(`handle`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `plan_assignments` (
    `id` VARCHAR(191) NOT NULL,
    `shop` VARCHAR(191) NOT NULL,
    `planId` VARCHAR(191) NOT NULL,
    `customPriceOverride` DECIMAL(10, 2) NULL,
    `notes` TEXT NULL,
    `startsAt` DATETIME(3) NULL,
    `endsAt` DATETIME(3) NULL,
    `isActive` BOOLEAN NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `plan_assignments_shop_isActive_idx`(`shop`, `isActive`),
    UNIQUE INDEX `plan_assignments_shop_planId_key`(`shop`, `planId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `billing_subscriptions` (
    `id` VARCHAR(191) NOT NULL,
    `shop` VARCHAR(191) NOT NULL,
    `planId` VARCHAR(191) NULL,
    `shopifySubscriptionGid` VARCHAR(191) NULL,
    `shopifyPlanHandle` VARCHAR(191) NULL,
    `status` ENUM('PENDING', 'ACTIVE', 'FROZEN', 'CANCELLED', 'DECLINED', 'EXPIRED') NULL,
    `planNameSnapshot` VARCHAR(191) NULL,
    `priceSnapshot` DECIMAL(10, 2) NULL,
    `currencySnapshot` VARCHAR(10) NULL,
    `intervalSnapshot` ENUM('EVERY_30_DAYS', 'ANNUAL') NULL,
    `trialStartsAt` DATETIME(3) NULL,
    `trialEndsAt` DATETIME(3) NULL,
    `currentPeriodStartsAt` DATETIME(3) NULL,
    `currentPeriodEndsAt` DATETIME(3) NULL,
    `activatedAt` DATETIME(3) NULL,
    `cancelledAt` DATETIME(3) NULL,
    `frozenAt` DATETIME(3) NULL,
    `frozenReason` VARCHAR(255) NULL,
    `replacementBehavior` ENUM('STANDARD', 'APPLY_IMMEDIATELY', 'APPLY_ON_NEXT_BILLING_CYCLE') NULL,
    `isPendingSchedule` BOOLEAN NULL,
    `testMode` BOOLEAN NULL,
    `rawResponse` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `billing_subscriptions_shopifySubscriptionGid_key`(`shopifySubscriptionGid`),
    INDEX `billing_subscriptions_shop_status_idx`(`shop`, `status`),
    INDEX `billing_subscriptions_shop_createdAt_idx`(`shop`, `createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `billing_events` (
    `id` VARCHAR(191) NOT NULL,
    `shop` VARCHAR(191) NOT NULL,
    `subscriptionGid` VARCHAR(191) NULL,
    `type` ENUM('SUBSCRIPTION_CREATED', 'SUBSCRIPTION_APPROVED', 'SUBSCRIPTION_ACTIVATED', 'SUBSCRIPTION_CANCELLED', 'SUBSCRIPTION_FROZEN', 'SUBSCRIPTION_UNFROZEN', 'PLAN_UPGRADE', 'PLAN_DOWNGRADE', 'APP_UNINSTALLED', 'APP_REINSTALLED', 'BILLING_RECONCILED') NOT NULL,
    `source` ENUM('CALLBACK', 'WEBHOOK', 'API', 'RECONCILIATION') NOT NULL,
    `idempotencyKey` VARCHAR(191) NULL,
    `payload` JSON NULL,
    `occurredAt` DATETIME(3) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `billing_events_idempotencyKey_key`(`idempotencyKey`),
    INDEX `billing_events_shop_occurredAt_idx`(`shop`, `occurredAt`),
    INDEX `billing_events_subscriptionGid_idx`(`subscriptionGid`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `usage_counters` (
    `id` VARCHAR(191) NOT NULL,
    `shop` VARCHAR(191) NOT NULL,
    `periodStart` DATETIME(3) NOT NULL,
    `periodEnd` DATETIME(3) NOT NULL,
    `searches` INTEGER NOT NULL DEFAULT 0,
    `vectorUpdates` INTEGER NOT NULL DEFAULT 0,
    `llmCalls` INTEGER NOT NULL DEFAULT 0,
    `embeddingCalls` INTEGER NOT NULL DEFAULT 0,
    `llmInputTokens` BIGINT NOT NULL DEFAULT 0,
    `llmOutputTokens` BIGINT NOT NULL DEFAULT 0,
    `embeddingInputTokens` BIGINT NOT NULL DEFAULT 0,
    `estimatedCostUsd` DECIMAL(14, 6) NOT NULL DEFAULT 0,
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `usage_counters_shop_periodStart_key`(`shop`, `periodStart`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `catalog_states` (
    `shop` VARCHAR(191) NOT NULL,
    `shopifyProductCount` INTEGER NOT NULL DEFAULT 0,
    `eligibleProductCount` INTEGER NOT NULL DEFAULT 0,
    `indexedProductCount` INTEGER NOT NULL DEFAULT 0,
    `searchableProductCount` INTEGER NOT NULL DEFAULT 0,
    `lastFullSyncAt` DATETIME(3) NULL,
    `lastDeltaSyncAt` DATETIME(3) NULL,
    `updatedAt` DATETIME(3) NOT NULL,

    PRIMARY KEY (`shop`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `DevUser` (
    `id` VARCHAR(191) NOT NULL,
    `email` VARCHAR(320) NOT NULL,
    `passwordHash` VARCHAR(255) NOT NULL,
    `role` ENUM('OWNER', 'ADMIN', 'VIEWER') NOT NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `totpSecretEncrypted` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `lastLoginAt` DATETIME(3) NULL,

    UNIQUE INDEX `DevUser_email_key`(`email`),
    INDEX `DevUser_role_isActive_idx`(`role`, `isActive`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `DevSession` (
    `id` VARCHAR(191) NOT NULL,
    `tokenHash` CHAR(64) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `lastSeenAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `expiresAt` DATETIME(3) NOT NULL,
    `absoluteExpiresAt` DATETIME(3) NOT NULL,
    `lastStrongAuthAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `revokedAt` DATETIME(3) NULL,
    `ipHash` CHAR(64) NULL,
    `userAgent` VARCHAR(512) NULL,

    UNIQUE INDEX `DevSession_tokenHash_key`(`tokenHash`),
    INDEX `DevSession_userId_revokedAt_idx`(`userId`, `revokedAt`),
    INDEX `DevSession_expiresAt_idx`(`expiresAt`),
    INDEX `DevSession_absoluteExpiresAt_idx`(`absoluteExpiresAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `DevLoginChallenge` (
    `id` VARCHAR(191) NOT NULL,
    `tokenHash` CHAR(64) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `expiresAt` DATETIME(3) NOT NULL,
    `attempts` INTEGER NOT NULL DEFAULT 0,
    `ipHash` CHAR(64) NULL,

    UNIQUE INDEX `DevLoginChallenge_tokenHash_key`(`tokenHash`),
    INDEX `DevLoginChallenge_userId_expiresAt_idx`(`userId`, `expiresAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `DevAuthThrottle` (
    `bucketKey` CHAR(64) NOT NULL,
    `kind` VARCHAR(32) NOT NULL,
    `attemptCount` INTEGER NOT NULL DEFAULT 0,
    `windowStart` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `blockedUntil` DATETIME(3) NULL,
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `DevAuthThrottle_kind_blockedUntil_idx`(`kind`, `blockedUntil`),
    PRIMARY KEY (`bucketKey`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `DevAuditLog` (
    `id` VARCHAR(191) NOT NULL,
    `devUserId` VARCHAR(191) NULL,
    `action` VARCHAR(96) NOT NULL,
    `resourceType` VARCHAR(96) NULL,
    `resourceId` VARCHAR(191) NULL,
    `result` VARCHAR(32) NOT NULL,
    `requestId` VARCHAR(64) NULL,
    `ipHash` CHAR(64) NULL,
    `userAgent` VARCHAR(512) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `DevAuditLog_devUserId_createdAt_idx`(`devUserId`, `createdAt`),
    INDEX `DevAuditLog_action_createdAt_idx`(`action`, `createdAt`),
    INDEX `DevAuditLog_createdAt_idx`(`createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateIndex
CREATE INDEX `AiSearchIndexedProduct_shop_isIndexed_idx` ON `AiSearchIndexedProduct`(`shop`, `isIndexed`);

-- CreateIndex
CREATE INDEX `AiSearchIndexedProduct_shop_isSearchable_idx` ON `AiSearchIndexedProduct`(`shop`, `isSearchable`);

-- CreateIndex
CREATE INDEX `AiSearchIndexedProduct_shop_hasVector_idx` ON `AiSearchIndexedProduct`(`shop`, `hasVector`);

-- AddForeignKey
ALTER TABLE `plan_assignments` ADD CONSTRAINT `plan_assignments_shop_fkey` FOREIGN KEY (`shop`) REFERENCES `AiSearchShop`(`shop`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `plan_assignments` ADD CONSTRAINT `plan_assignments_planId_fkey` FOREIGN KEY (`planId`) REFERENCES `plans`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `billing_subscriptions` ADD CONSTRAINT `billing_subscriptions_shop_fkey` FOREIGN KEY (`shop`) REFERENCES `AiSearchShop`(`shop`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `billing_subscriptions` ADD CONSTRAINT `billing_subscriptions_planId_fkey` FOREIGN KEY (`planId`) REFERENCES `plans`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `billing_events` ADD CONSTRAINT `billing_events_shop_fkey` FOREIGN KEY (`shop`) REFERENCES `AiSearchShop`(`shop`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `usage_counters` ADD CONSTRAINT `usage_counters_shop_fkey` FOREIGN KEY (`shop`) REFERENCES `AiSearchShop`(`shop`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `catalog_states` ADD CONSTRAINT `catalog_states_shop_fkey` FOREIGN KEY (`shop`) REFERENCES `AiSearchShop`(`shop`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `DevSession` ADD CONSTRAINT `DevSession_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `DevUser`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `DevLoginChallenge` ADD CONSTRAINT `DevLoginChallenge_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `DevUser`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `DevAuditLog` ADD CONSTRAINT `DevAuditLog_devUserId_fkey` FOREIGN KEY (`devUserId`) REFERENCES `DevUser`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

